body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-image: url('pic.png');
    /*https://harmash.com/tutorials/css/background*/
}

h1 {
    margin-bottom: 20px;
    color: white;
}
#score {
    color: white;
    font-size: x-large;
}
.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 320px;
    background-color:gray;
    padding: 10px;
}

.card {
    background-color: black;
    color: white;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.card.flipped {
    background-color: skyblue;
    color: black;
    transition: background-color .2s linear;
    /*https://academy.hsoub.com/programming/css/%D8%AA%D8%A3%D8%AB%D9%8A%D8%B1%D8%A7%D8%AA-%D8%A7%D9%84%D8%A7%D9%86%D8%AA%D9%82%D8%A7%D9%84-%D9%88%D8%A7%D9%84%D8%AD%D8%B1%D9%83%D8%A9-%D9%81%D9%8A-css-r517/*/
}
